<%- include("../partials/top.ejs") %>

        <link rel="stylesheet" type="text/css" href="/css/details.css">
        <title>Details</title>
    </head>
    <body>
        <%- include("../partials/firebase.ejs") %>

        <div class="container">
            <div class="details">
                <h1>Details</h1>
                
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" placeholder="Your Name">
                    </div>
                    <div class="form-group">
                        <label for="dob">Date of birth</label>
                        <input type="date" class="form-control" name="dob" id="dob">
                    </div>
                    <div class="form-group">
                        <label for="gender">Gender</label>
                        <select class="form-control" id="gender">
                            <option>Male</option>
                            <option>Female</option>
                            <option>Other</option>
                            <option>Prefer not to say</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="condition">Condition</label>
                        <select class="form-control" id="condition">
                            <option>Abdominal aortic aneurysm</option>
                            <option>Acne</option>
                            <option>Acute cholecystitis</option>
                            <option>Acute lymphoblastic leukaemia</option>
                            <option>Acute lymphoblastic leukaemia: Children</option>
                            <option>Acute lymphoblastic leukaemia: Teenagers and young adults</option>
                            <option>Acute myeloid leukaemia</option>
                            <option>Acute myeloid leukaemia: Children</option>
                            <option>Acute myeloid leukaemia: Teenagers and young adults</option>
                            <option>Acute pancreatitis</option>
                            <option>Addison's disease</option>
                            <option>Alcohol-related liver disease</option>
                            <option>Allergic rhinitis</option>
                            <option>Allergies</option>
                            <option>Alzheimer's disease</option>
                            <option>Anal cancer</option>
                            <option>Anaphylaxis</option>
                            <option>Angioedema</option>
                            <option>Ankylosing spondylitis</option>
                            <option>Anorexia nervosa</option>
                            <option>Anxiety</option>
                            <option>Anxiety disorders in children</option>
                            <option>Appendicitis</option>
                            <option>Arthritis</option>
                            <option>Asbestosis</option>
                            <option>Asthma</option>
                            <option>Atopic eczema</option>
                            <option>Attention deficit hyperactivity disorder (ADHD)</option>
                            <option>Autistic spectrum disorder (ASD)</option>
                            <option>Bacterial vaginosis</option>
                            <option>Benign prostate enlargement</option>
                            <option>Bile duct cancer (cholangiocarcinoma)</option>
                            <option>Binge eating</option>
                            <option>Bipolar disorder</option>
                            <option>Bladder cancer</option>
                            <option>Blood poisoning (sepsis)</option>
                            <option>Bone cancer</option>
                            <option>Bone cancer: Teenagers and young adults</option>
                            <option>Bowel cancer</option>
                            <option>Bowel incontinence</option>
                            <option>Bowel polyps</option>
                            <option>Brain stem death</option>
                            <option>Brain tumours</option>
                            <option>Brain tumours: Children</option>
                            <option>Brain tumours: Teenagers and young adults</option>
                            <option>Breast cancer (female)</option>
                            <option>Breast cancer (male)</option>
                            <option>Bronchiectasis</option>
                            <option>Bronchitis</option>
                            <option>Bulimia</option>
                            <option>Bunion</option>
                            <option>Carcinoid syndrome and carcinoid tumours</option>
                            <option>Catarrh</option>
                            <option>Cellulitis</option>
                            <option>Cervical cancer</option>
                            <option>Chest infection</option>
                            <option>Chest pain</option>
                            <option>Chickenpox</option>
                            <option>Chilblains</option>
                            <option>Chronic fatigue syndrome</option>
                            <option>Chronic kidney disease</option>
                            <option>Chronic lymphocytic leukaemia</option>
                            <option>Chronic myeloid leukaemia</option>
                            <option>Chronic obstructive pulmonary disease</option>
                            <option>Chronic pancreatitis</option>
                            <option>Cirrhosis</option>
                            <option>Clostridium difficile</option>
                            <option>Coeliac disease</option>
                            <option>Cold sore</option>
                            <option>Coma</option>
                            <option>Common cold</option>
                            <option>Common heart conditions</option>
                            <option>Congenital heart disease</option>
                            <option>Conjunctivitis</option>
                            <option>Constipation</option>
                            <option>Coronavirus (COVID-19)</option>
                            <option>Cough</option>
                            <option>Crohn's disease</option>
                            <option>Croup</option>
                            <option>Cystic fibrosis</option>
                            <option>Cystitis</option>
                            <option>Deafblindness</option>
                            <option>Deep vein thrombosis</option>
                            <option>Dehydration</option>
                            <option>Dementia</option>
                            <option>Dementia with Lewy bodies</option>
                            <option>Dental abscess</option>
                            <option>Depression</option>
                            <option>Dermatitis herpetiformis</option>
                            <option>Diabetes</option>
                            <option>Diarrhoea</option>
                            <option>Discoid eczema</option>
                            <option>Diverticular disease and diverticulitis</option>
                            <option>Dizziness (Lightheadedness)</option>
                            <option>Down's syndrome</option>
                            <option>Dry mouth</option>
                            <option>Dysphagia (swallowing problems)</option>
                            <option>Dystonia</option>
                            <option>Earache</option>
                            <option>Earwax build-up</option>
                            <option>Ebola virus disease</option>
                            <option>Ectopic pregnancy</option>
                            <option>Endometriosis</option>
                            <option>Epilepsy</option>
                            <option>Erectile dysfunction (impotence)</option>
                            <option>Escherichia coli (E. coli) O157</option>
                            <option>Ewing sarcoma</option>
                            <option>Ewing sarcoma: Children</option>
                            <option>Eye cancer</option>
                            <option>Febrile seizures</option>
                            <option>Fever in children</option>
                            <option>Fibroids</option>
                            <option>Fibromyalgia</option>
                            <option>Flatulence</option>
                            <option>Flu</option>
                            <option>Foetal alcohol syndrome</option>
                            <option>Food poisoning</option>
                            <option>Fungal nail infection</option>
                            <option>Gallbladder cancer</option>
                            <option>Gallstones</option>
                            <option>Ganglion cyst</option>
                            <option>Gastroenteritis</option>
                            <option>Gastro-oesophageal reflux disease (GORD)</option>
                            <option>Genital herpes</option>
                            <option>Genital warts</option>
                            <option>Germ cell tumours</option>
                            <option>Glandular fever</option>
                            <option>Gout</option>
                            <option>Gum disease</option>
                            <option>Haemorrhoids (piles)</option>
                            <option>Hairy cell leukaemia</option>
                            <option>Hand, foot and mouth disease</option>
                            <option>Hay fever</option>
                            <option>Head and neck cancer</option>
                            <option>Head lice and nits</option>
                            <option>Headaches</option>
                            <option>Hearing loss</option>
                            <option>Heart failure</option>
                            <option>Hepatitis A</option>
                            <option>Hepatitis B</option>
                            <option>Hepatitis C</option>
                            <option>Hiatus hernia</option>
                            <option>High cholesterol</option>
                            <option>HIV</option>
                            <option>Hodgkin lymphoma</option>
                            <option>Hodgkin lymphoma: Children</option>
                            <option>Hodgkin lymphoma: Teenagers and young adults</option>
                            <option>Huntington's disease</option>
                            <option>Hyperglycaemia (high blood sugar)</option>
                            <option>Hyperhidrosis</option>
                            <option>Hypoglycaemia (low blood sugar)</option>
                            <option>Idiopathic pulmonary fibrosis</option>
                            <option>Impetigo</option>
                            <option>Indigestion</option>
                            <option>Ingrown toenail</option>
                            <option>Inherited heart conditions</option>
                            <option>Insomnia</option>
                            <option>Iron deficiency anaemia</option>
                            <option>Irritable bowel syndrome (IBS)</option>
                            <option>Irritable hip</option>
                            <option>Itching</option>
                            <option>Itchy bottom</option>
                            <option>Kaposi's sarcoma</option>
                            <option>Kidney cancer</option>
                            <option>Kidney infection</option>
                            <option>Kidney stones</option>
                            <option>Labyrinthitis</option>
                            <option>Lactose intolerance</option>
                            <option>Langerhans cell histiocytosis</option>
                            <option>Laryngeal (larynx) cancer</option>
                            <option>Laryngitis</option>
                            <option>Leg cramps</option>
                            <option>Lichen planus</option>
                            <option>Liver cancer</option>
                            <option>Liver disease</option>
                            <option>Liver tumours</option>
                            <option>Loss of libido</option>
                            <option>Lung cancer</option>
                            <option>Lupus</option>
                            <option>Lyme disease</option>
                            <option>Lymphoedema</option>
                            <option>Malaria</option>
                            <option>Malignant brain tumour (cancerous)</option>
                            <option>Malnutrition</option>
                            <option>Measles</option>
                            <option>Meningitis</option>
                            <option>Menopause</option>
                            <option>Mesothelioma</option>
                            <option>Middle ear infection (otitis media)</option>
                            <option>Migraine</option>
                            <option>Miscarriage</option>
                            <option>Motor neurone disease (MND)</option>
                            <option>Mouth cancer</option>
                            <option>Mouth ulcer</option>
                            <option>Multiple myeloma</option>
                            <option>Multiple sclerosis (MS)</option>
                            <option>Mumps</option>
                            <option>Meniere's disease</option>
                            <option>Nasal and sinus cancer</option>
                            <option>Nasopharyngeal cancer</option>
                            <option>Neuroblastoma</option>
                            <option>Neuroblastoma: Children</option>
                            <option>Neuroendocrine tumours</option>
                            <option>Non-alcoholic fatty liver disease (NAFLD)</option>
                            <option>Non-Hodgkin lymphoma</option>
                            <option>Non-Hodgkin lymphoma: Children</option>
                            <option>Norovirus</option>
                            <option>Nosebleed</option>
                            <option>Obesity</option>
                            <option>Obsessive compulsive disorder (OCD)</option>
                            <option>Obstructive sleep apnoea</option>
                            <option>Oesophageal cancer</option>
                            <option>Oral thrush in adults</option>
                            <option>Osteoarthritis</option>
                            <option>Osteoporosis</option>
                            <option>Osteosarcoma</option>
                            <option>Otitis externa</option>
                            <option>Ovarian cancer</option>
                            <option>Ovarian cancer: Teenagers and young adults</option>
                            <option>Ovarian cyst</option>
                            <option>Overactive thyroid</option>
                            <option>Paget's disease of the nipple</option>
                            <option>Pancreatic cancer</option>
                            <option>Panic disorder</option>
                            <option>Parkinson's disease</option>
                            <option>Pelvic organ prolapse</option>
                            <option>Penile cancer</option>
                            <option>Peripheral neuropathy</option>
                            <option>Personality disorder</option>
                            <option>Pleurisy</option>
                            <option>Pneumonia</option>
                            <option>Polymyalgia rheumatica</option>
                            <option>Post-traumatic stress disorder (PTSD)</option>
                            <option>Postnatal depression</option>
                            <option>Pregnancy and baby</option>
                            <option>Pressure ulcers</option>
                            <option>Prostate cancer</option>
                            <option>Psoriasis</option>
                            <option>Psoriatic arthritis</option>
                            <option>Psychosis</option>
                            <option>Rare tumours</option>
                            <option>Raynaud's phenomenon</option>
                            <option>Reactive arthritis</option>
                            <option>Restless legs syndrome</option>
                            <option>Retinoblastoma</option>
                            <option>Retinoblastoma: Children</option>
                            <option>Rhabdomyosarcoma</option>
                            <option>Rheumatoid arthritis</option>
                            <option>Ringworm and other fungal infections</option>
                            <option>Rosacea</option>
                            <option>Scabies</option>
                            <option>Scarlet fever</option>
                            <option>Schizophrenia</option>
                            <option>Scoliosis</option>
                            <option>Septic shock</option>
                            <option>Sexually transmitted infections (STIs)</option>
                            <option>Shingles</option>
                            <option>Shortness of breath</option>
                            <option>Sickle cell disease</option>
                            <option>Sinusitis</option>
                            <option>Sjogren's syndrome</option>
                            <option>Skin cancer (melanoma)</option>
                            <option>Skin cancer (non-melanoma)</option>
                            <option>Slapped cheek syndrome</option>
                            <option>Soft tissue sarcomas</option>
                            <option>Soft tissue sarcomas: Teenagers and young adults</option>
                            <option>Sore throat</option>
                            <option>Spleen problems and spleen removal</option>
                            <option>Stillbirth</option>
                            <option>Stomach ache and abdominal pain</option>
                            <option>Stomach cancer</option>
                            <option>Stomach ulcer</option>
                            <option>Stress, anxiety and low mood</option>
                            <option>Stroke</option>
                            <option>Sudden infant death syndrome (SIDS)</option>
                            <option>Suicide</option>
                            <option>Sunburn</option>
                            <option>Swollen glands</option>
                            <option>Testicular cancer</option>
                            <option>Testicular cancer: Teenagers and young adults</option>
                            <option>Testicular lumps and swellings</option>
                            <option>Thirst</option>
                            <option>Threadworms</option>
                            <option>Thrush in men</option>
                            <option>Thyroid cancer</option>
                            <option>Thyroid cancer: Teenagers and young adults</option>
                            <option>Tinnitus</option>
                            <option>Tonsillitis</option>
                            <option>Tooth decay</option>
                            <option>Toothache</option>
                            <option>Transient ischaemic attack (TIA)</option>
                            <option>Trigeminal neuralgia</option>
                            <option>Tuberculosis (TB)</option>
                            <option>Type 1 diabetes</option>
                            <option>Type 2 diabetes</option>
                            <option>Ulcerative colitis</option>
                            <option>Underactive thyroid</option>
                            <option>Urinary incontinence</option>
                            <option>Urinary tract infection (UTI)</option>
                            <option>Urinary tract infection (UTI) in children</option>
                            <option>Urticaria (hives)</option>
                            <option>Vaginal cancer</option>
                            <option>Vaginal thrush</option>
                            <option>Varicose eczema</option>
                            <option>Varicose veins</option>
                            <option>Venous leg ulcer</option>
                            <option>Vertigo</option>
                            <option>Vitamin B12 or folate deficiency anaemia</option>
                            <option>Vomiting in adults</option>
                            <option>Vulval cancer</option>
                            <option>Warts and verrucas</option>
                            <option>Whooping cough</option>
                            <option>Wilms’ tumour</option>
                            <option>Womb (uterus) cancer</option>
                            <option>Yellow fever</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="timeSinceDiagnosis">Time Since Diagnosis</label>
                        <input type="text" class="form-control" id="timeSinceDiagnosis" placeholder="Months since the condition was diagnosed">
                    </div>
                    <div class="form-group">
                        <label for="doctor">Doctor</label>
                        <input type="text" class="form-control" id="doctor" placeholder="Name of the Doctor you're visiting">
                    </div>
                    <div class="form-group">
                        <label for="medications">Medications</label>
                        <input type="text" class="form-control" id="medications" placeholder="The Medications you're are consuming">
                    </div>
                    <!-- <div class="form-group"> -->
                        <!-- <label for="medReport">Medical Report Image</label> -->
                        <!-- <input type="file" class="form-control-file" id="medReport"> -->
                    <!-- </div> -->
                    <button id="submit-details" class="btn btn-lg btn-primary">Submit</button>
                </form>
            </div>
        </div>

        <script src="/js/details.js"></script>

<%- include("../partials/bottom.ejs") %>

