<%- include("./partials/top.ejs") %>

        <link rel="stylesheet" type="text/css" href="/css/details.css">
        <title>Login</title>
    </head>
    <body>
        <%- include("../partials/firebase.ejs") %>

        <script src="/js/details.js"></script>

<%- include("./partials/bottom.ejs") %>
