<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <title>Social Network</title>
    </head>
    <body>
            <!-- Insert this script at the bottom of the HTML, but before you use any Firebase services -->

            <!-- Add the entire Firebase JavaScript SDK -->
            <script src="/__/firebase/7.9.2/firebase.js"></script>
            <script>
                const firebaseConfig = {
                    apiKey            : "AIzaSyAs8FVXBJ-M4toU6-GNQKDuAsodbkP501w",
                    authDomain        : "social-network-c462e.firebaseapp.com",
                    databaseURL       : "https://social-network-c462e.firebaseio.com",
                    projectId         : "social-network-c462e",
                    storageBucket     : "social-network-c462e.appspot.com",
                    messagingSenderId : "132403966735",
                    appId             : "1:132403966735:web:a5104971fbbb768ce7847a",
                    measurementId     : "G-FD1QD59BLT"
                };

                firebase.initializeApp(firebaseConfig);
            </script>