<%- include("./partials/top.ejs") %>

        <link rel="stylesheet" type="text/css" href="/css/addCondition.css">
        <title>Profile</title>
    </head>
    <body>
        <%- include("./partials/firebase.ejs") %>

        <div class="container">
            <div class="details">
                <h1>Add Condition</h1>
                    <div class="form-group">
                        <label for="condition">Condition</label>
                        <input type="text" class="form-control" id="condition" placeholder="Your Condition">
                    </div>
                    <div class="form-group">
                        <label for="timeSinceDiagnosis">Time Since Diagnosis</label>
                        <input type="text" class="form-control" id="timeSinceDiagnosis" placeholder="Months since the condition was diagnosed">
                    </div>
                    <div class="form-group">
                        <label for="doctor">Doctor</label>
                        <input type="text" class="form-control" id="doctor" placeholder="Name of the Doctor you're visiting">
                    </div>
                    <div class="form-group">
                        <label for="medications">Medications</label>
                        <input type="text" class="form-control" id="medications" placeholder="The Medications you're are consuming">
                    </div>
                    <div class="form-group">
                        <label for="medReport">Medical Report Image</label>
                        <input type="file" class="form-control-file" id="medReport">
                    </div>
                    <button id="submit-details" class="btn btn-lg btn-primary">Submit</button>
                </form>
            </div>
        </div>
<script src="/js/addCondition.js"></script>
<%- include("./partials/bottom.ejs") %>