<%- include("./partials/top.ejs") %>

        <link rel="stylesheet" type="text/css" href="/css/profile.css">
        <title>Profile</title>
    </head>
    <body>
        <%- include("./partials/firebase.ejs") %>
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-4" id="name"></h1>
                <hr class="my-4">
                <button class="btn btn-primary btn-lg">Edit Details</button>
                <button class="btn btn- btn-lg">Add Condition</button>
            </div>
        </div>
        <div class="container">
            <div class="row" id="chatArray"></div>
        </div>
        
        <script src="/js/profile.js"></script>

<%- include("./partials/bottom.ejs") %>