<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/signup.css">
    <title>Social Network</title>
    <%- include("./partials/top.ejs") %>
</head>
<body>
    <form action="/" method="POST">
        <div>
            <label> Email </label>
            <input type="text" placeholder="Enter Email" name="email" required>
        </div>
        <br>
        <div>
            <label> Phone Number </label>
            <input type="number" placeholder="Enter Phone number" name="phone" required>
        </div>
        <br>
        <div>
            <label> Create password</label>
            <input type="password" placeholder="Create password" name="password" required>
        </div>
        <br>
        <div>
            <label> Confirm password</label>
            <input type="password" placeholder="Confirm password" name="password" required>
        </div>
        <br>
        <div>
            <label>   Gender   
                <input type="radio" name = "gender" id = "male" value = "male">
                <label>Male</label>
                <input type="radio" name = "gender" id = "female" value = "female">
                <label>Female</label>
            </label>
        </div>
        <br>

        <div>
        <label for="date">Birthdate:</label>
        <input type="date" 
            id="birthdate" 
            name="birthdate">
        </div>       
        <br>

        <div>
            <input type="checkbox" id = "accept" name="terms" required>
            <label>I accept the terms and conditions</label>
        </div>

        <br>

        <div class="submit">
            <button id="signup" type="button"><b> Signup </b> </button>
        </div> 


    </form>

</body>
<script src="../public/js/signup.js"></script>
<%- include("./partials/bottom.ejs") %>
</html>