.login {
    border-radius: 1em;
    margin: 1rem;
    text-align: center;
    padding: 5%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.login-button {
    margin: 10px;
}

i {
    margin: 5px 10px 5px 5px;
}

.login > form > div > input {
    width: 95%;
    margin: auto;
}
